{{define "table.html"}}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table</title>
    <link rel="icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/table.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div id="Updatingmodal" class="modalUp">
            <div class="modalUp-content">
                <div class="loaderUp-container">
                    <div class="loaderUp"></div>
                </div>
                <p>Updating...</p>
            </div>
        </div>  
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard-data">
                            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"></path>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
                        </svg></div>
                    <div class="sidebar-brand-text mx-3"><span><em>Zksync</em></span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active" href="/table"><i class="fas fa-table"></i><span>Table</span></a><a class="nav-link" href="/analyze"><i class="far fa-chart-bar"></i>Analyze</a></li>
                    <li class="nav-item"><a class="nav-link" href="/coffee"><i class="fas fa-coffee"></i><span>Coffee</span></a>
                    <li class="nav-item"><a class="nav-link" href="/rule"><i class="fas fa-book"></i><span>Rule</span></a>
                   
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form action="/table" method="get" autocomplete="off" class="address">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text" name="address" id="address" placeholder="Please enter your wallet addresses...">
                                <button class="btn btn-primary py-0 search" type="submit" id="getDataButton"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1"></li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                            <a href="https://twitter.com/lokiever11" target="_blank" class="btn btn-primary" style="margin: 12px;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid float-start" style="text-align: center;">
                    <h3 class="text-dark mb-4" style="text-align: left;">MyWallets&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
                    <div class="floating-buttons">
                        <button class="btn btn-primary btn-floating delete-button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-primary btn-floating update-button">
                            <i class="fas fa-sync"></i>
                        </button>
                    </div>                    
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input id = "selcetall" type="checkbox"></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >编号</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >地址</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >ETH</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >USDC</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >Tx</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >周</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >金额</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >评分</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >排名</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >gas费用</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >月</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >第一笔交易日期</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >最后一笔交易日期</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_Tx</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_金额</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_周</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_月</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_第一笔交易日期</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_eth</div></th>
                                    <th style="white-space: nowrap; background-color: #ccc;"><div class="tablehead" >zklite_usdc</div></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        </div>
                        <div class="pagination">
                            <ul>
                            </ul>
                        </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © KYW 2023</span></div>
                </div>
            </footer>
<a class="border rounded d-inline scroll-to-top" href="#page-top" style="position: fixed; bottom: 20px; left: 170px;"><i class="fas fa-angle-up"></i></a>

    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/table.js"></script>
</body>

</html>
{{end}}